@import url('https://fonts.googleapis.com/css?family=Niconne');


body {
    background-image: url("../images/background-hogwarts.jpg");
    font-family: 'Niconne',
        cursive;
    font-size: 200%;
}

#mainContent {

    background-image: url("../images/extra_clean_paper.png")
}